# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output
*.out

# Dependencies
/vendor/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Upload directory
/images/

# Environment files
.env

# go.sum
go.sum

# Requests
*.http

# Config files
/configs/config.yaml
